<a href="https://colab.research.google.com/github/sherlywinbongalon/CPE-21A-PLD-1-2/blob/main/Python_as_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:

#Function Calls
abs(-4.5)

4.5

In [4]:
#Function falls others function

pow(abs(-2),round(4.5))  #pow(2,4)

16

In [5]:
#Type code function

int(4.5)
float(4)

4.0

In [26]:
#Defining own function

def convert_to_celsius(fahrenheit):
 celsius = (fahrenheit-32)*5/9
 return celsius
 
fahrenheit = float(input("Enter a number in fahrenheit:"))

f=convert_to_celsius(fahrenheit)
print(round(f,2))

Enter a number in fahrenheit:100
37.78

In [42]:
#Exercise

a=min(2,3,4)
b=max(2,-3,4,-7,5)
c=max(2,-3,min(4,7),-5)
print("a =",a)
print("b =",b)
print("c =",c)

a = 2
b = 5
c = 4